*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is
    font-size: 62.5%;
    font-family: $hana-font;
    height: 100vh;

    @media only screen and (max-width: 68.75rem) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    height: 100vh;
}

#root, #root>div {
    min-height: 100vh;
}