@import "./_base";

.contact-styled-link {
    @extend %unstyled-link;
    .social-media-contact {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: responsive-value(0.3);

        .social-media-img {
            height: responsive-value(4);
            width: responsive-value(4);
            object-fit: contain;
            float: left;
        }
        .social-media-url {
            font-family: $hana-font;
            font-size: responsive-value(0.6);
            text-decoration: none;
            color: inherit;
            margin-inline: responsive-value(0.7);
        }
    }
}

@media (max-width: $tablet-size) {
    .social-media-url {
        display: none;
    }
}

@media (min-width: $tablet-size) {
    .social-media-contact {
        &:hover {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 15px;
            transform: translateX(responsive-value(0.8));
        }
        &:active {
            transform: translateY(4px);
        }
    }
}
