.btn {
    font-family: $hana-font;
    font-size: $default-font-size;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    cursor: pointer;
    border-radius: .6rem;
    border: 0;
    color: inherit;

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: .6rem;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--primary {
        color: $color-black;
        background-color: $color-white;
        transition: 0.5s;

        &::after {
            background-color: $color-white;
        }
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}