.social-media-contact {
    width: 40rem;

    &__contact {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: responsive-value(0.3);
    }

    &__img {
        height: responsive-value(4);
        width: responsive-value(4);
        object-fit: contain;
        float: left;
    }

    &__url {
        font-family: $hana-font;
        font-size: responsive-value(0.6);
        text-decoration: none;
        color: $color-black;
        margin-inline: responsive-value(0.7);
    }

    @media (max-width: $tablet-size) {
        &__url {
            display: none;
        }
    }

    @media (min-width: $tablet-size) {
        &:hover {
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 15px;
            transform: translateX(4px);
        }

        &:active {
            transform: translateY(4px);
        }
    }
}
