.social-media-contact {
    width: 100%;
    max-width: 45rem;
    background-color: rgba($color-white, 0.9);
    border-radius: 15px;
    text-decoration: none;
    transition: all .25s ease;
    padding: 1rem;

    &__contact {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: responsive-value(0.3);
    }

    &__img {
        height: responsive-value(4);
        width: responsive-value(4);
        object-fit: contain;
        float: left;
    }

    &__arrow {
        color: $color-black;
        font-size: 3.5rem;
        display: none;
        margin-left: auto;
    }

    &__url {
        font-family: $hana-font;
        font-size: 1.8rem;
        text-decoration: none;
        color: $color-black;
        margin-inline: responsive-value(0.7);
    }

    &:hover {
        box-shadow: 0px 1px 24px rgba(0, 0, 0, .2);
        transform: translateX(1rem);
    }

    &:hover &__arrow {
        display: block;
        animation: rotate .45s ease-out;
    }

    &:active {
        transform: translateY(4px);
    }
}