$bg-image: url("../../../images/about_library.png");

.about {
    height: 100vh;
    background-image: $bg-image;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;

    &__left {
        flex-direction: column;
    }

    &__right {
        display: flex;
        justify-content: right;
    }

    &__title {
        font-family: $hana-font;
        font-size: responsive-value(1);
        text-align: justify;
        margin-inline: responsive-value(1);
    }

    &__text {
        font-family: $hana-font;
        font-size: responsive-value(1);
        text-align: center;
        margin-inline: responsive-value(1);
    }

    &__beatrice-1 {
        max-width: 100%;
        height: auto;
        bottom: 0;
        object-fit: contain;
    }

    &__beatrice-2 {
        max-width: 100%;
        object-fit: contain;
    }

    &__certification-logos {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width: $tablet-size) {
    .about {
        grid-auto-rows: auto;

        &__left {
            margin-bottom: 0;
        }

        &__beatrice-1 {
            display: none;
        }
    }
}

@media (min-width: ($tablet-size + 1px)) {
    .about {
        grid-auto-rows: 1fr;

        &__left {
            margin-bottom: responsive-value(2);
        }
        &__beatrice-2 {
            display: none;
        }
    }
}
