$bg-image: url("../../../images/contact_bg.png");

.contact {
    height: 100vh;
    overflow: hidden;
    background-image: $bg-image;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    min-height: $custom-vh;

    &__contact-darkness {
        max-width: 100%;
        object-fit: contain;
    }

    &__left {
        position: relative;
    }

    &__lettuce {
        position: absolute;
        motion-rotation: reverse;
        animation: move 6.5s linear infinite;
        left: 10rem;
        top: 12rem;

        &--1 {
            motion-path: $motion-path-1;
            offset-path: $motion-path-1; 
        }

        &--2 {       
            motion-path: $motion-path-2;
            offset-path: $motion-path-2; 
        }

        &--3 {
            motion-path: $motion-path-3;
            offset-path: $motion-path-3;
        }
    }


    &__right {
        flex-direction: column;
    }
    
    &__social-media-contact {
        display: flex;
    }

    @media (min-width: $tablet-size) {
        & {
            &__social-media-contact {
                flex-direction: column;
            }
        }
    }

    @media (max-width: $tablet-size) {
        .contact {
            & {
                flex-direction: row;
                margin-top: responsive-value(2);
                padding-bottom: responsive-value(3);

                &__right {
                    margin-top: -100px;
                }
            }
        }
    }
}
