@import "./_base";

$bg-image: url("../images/about_library.png");

.about-container {
    background-image: $bg-image;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-height: $custom-vh;
    .about-left {
        flex-direction: column;
        @include flex-center;
        .about-title {
            font-family: $hana-font;
            font-size: responsive-value(1);
            text-align: justify;
            margin-inline: responsive-value(1);
        }
        .about-text {
            font-family: $hana-font;
            font-size: responsive-value(1);
            text-align: center;
            margin-inline: responsive-value(1);
        }
    }
    .about-right {
        display: flex;
        justify-content: right;
        .about-beatrice-1 {
            max-width: 100%;
            object-fit: contain;
        }
        .about-beatrice-2 {
            max-width: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: $tablet-size) {
    .about-container {
        grid-auto-rows: auto;
    }
    .about-left {
        margin-bottom: 0;
    }
    .about-beatrice-1 {
        display: none;
    }
}
@media (min-width: $tablet-size + 1px) {
    .about-container {
        grid-auto-rows: 1fr;
    }
    .about-left {
        margin-bottom: responsive-value(2);
    }
    .about-beatrice-2 {
        display: none;
    }
}
