@import "./_base";

%button-base {
    background-color: $cool-black;
    color: white;
    font-family: $hana-font;
    font-size: responsive-value(1);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: responsive-value(0.5);
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    &:active {
        background-color: #141617;
        transform: translateY(4px);
    }
}

.main-button {
    @extend %button-base;
    align-self: center;
    padding: responsive-value(0.5);
    margin-bottom: responsive-value(2);
}
